{%- if product.handle != blank -%}
  <compare-item>
    <button
      class="cart--icon-button button--icon h6 mb-0 compare__button  wishlist__button {{ className }}"
      type="button"
      aria-label="Add to wishlist"
      class=""
      data-product-handle="{{ product.handle }}"
      data-product-title="{{ product.title }}"
    >
      <span title="Add To Compare" class="add__wishlist">
        <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.5555 18.7222V11.3889C20.5555 7.93192 20.5555 6.20344 19.4816 5.1295C18.4076 4.05556 16.6791 4.05556 13.2222 4.05556H9.55554M9.55554 4.05556C9.55554 3.19972 11.993 1.60076 12.6111 1M9.55554 4.05556C9.55554 4.91139 11.993 6.51035 12.6111 7.11111" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.44446 7.11108V14.4444C3.44446 17.9014 3.44446 19.6298 4.5184 20.7038C5.59234 21.7778 7.32082 21.7778 10.7778 21.7778H14.4445M14.4445 21.7778C14.4445 22.6336 12.007 24.2326 11.3889 24.8333M14.4445 21.7778C14.4445 20.922 12.007 19.3229 11.3889 18.7222" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M20.5555 23.6111C21.9056 23.6111 23 22.5166 23 21.1666C23 19.8166 21.9056 18.7222 20.5555 18.7222C19.2055 18.7222 18.1111 19.8166 18.1111 21.1666C18.1111 22.5166 19.2055 23.6111 20.5555 23.6111Z" stroke="currentColor"/>
          <path d="M3.44444 6.49997C4.79447 6.49997 5.88889 5.40556 5.88889 4.05553C5.88889 2.7055 4.79447 1.61108 3.44444 1.61108C2.09441 1.61108 1 2.7055 1 4.05553C1 5.40556 2.09441 6.49997 3.44444 6.49997Z" stroke="currentColor"/>
        </svg>
      </span>

      <span class="loading__wishlist"></span>
      <span title="Remove from compare" class="remove__wishlist">
        <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.5555 18.7222V11.3889C20.5555 7.93192 20.5555 6.20344 19.4816 5.1295C18.4076 4.05556 16.6791 4.05556 13.2222 4.05556H9.55554M9.55554 4.05556C9.55554 3.19972 11.993 1.60076 12.6111 1M9.55554 4.05556C9.55554 4.91139 11.993 6.51035 12.6111 7.11111" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.44446 7.11108V14.4444C3.44446 17.9014 3.44446 19.6298 4.5184 20.7038C5.59234 21.7778 7.32082 21.7778 10.7778 21.7778H14.4445M14.4445 21.7778C14.4445 22.6336 12.007 24.2326 11.3889 24.8333M14.4445 21.7778C14.4445 20.922 12.007 19.3229 11.3889 18.7222" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M20.5555 23.6111C21.9056 23.6111 23 22.5166 23 21.1666C23 19.8166 21.9056 18.7222 20.5555 18.7222C19.2055 18.7222 18.1111 19.8166 18.1111 21.1666C18.1111 22.5166 19.2055 23.6111 20.5555 23.6111Z" stroke="currentColor"/>
          <path d="M3.44444 6.49997C4.79447 6.49997 5.88889 5.40556 5.88889 4.05553C5.88889 2.7055 4.79447 1.61108 3.44444 1.61108C2.09441 1.61108 1 2.7055 1 4.05553C1 5.40556 2.09441 6.49997 3.44444 6.49997Z" stroke="currentColor"/>
        </svg>
      </span>
    </button>
  </compare-item>
{%- endif -%}
