<quick-view-modal>
  <button
    aria-haspopup="dialog"
    type="button"
    class="cart--icon-button button--icon h6 mb-0"
    data-product-handle="{{ product_card_product.handle }}"
    aria-label="{{ 'products.product.select_options' | t }}"
  >
    {%- render 'eye-icon' -%}
  </button>
</quick-view-modal>
